/* Add styles for the header bar */
header {
    background-color: #ffffff;
    padding: 10px 0;
}

body{
	margin:0px;
}
.container {
    margin: 0px 24px 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img {
    width: 115px;
    height: auto;
}



.hide {
	display:none;
}
.navigation {
    display: flex;
    align-items: center;

    font-family: Inter,sans-serif;
    word-break: break-word;
}

.navigation a {
    padding: 10px 15px;
    text-decoration: none;
	color:#00008b;
}

.navigation a:hover {
    background-color: #ddd;
}

input[type="text"] {
    width: 300px; /* Adjust width as needed */
    padding: 10px;
    border: none;
    border-radius: 5px; /* Rounded edges */
    
    font-size: 16px;
    text-align: center; /* Center-align placeholder */
}
.airwaybill:focus {
    outline: none; /* Remove default focus outline */
    border-color: #4a90e2; /* Blue border color */
	caret-color: #4a90e2;
}
button {
   padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4a90e2; /* Blue color */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
    background-color: #357ae8; 
}

.main-content {
    text-align: center; /* Center all content within main-content */
}

.content-wrapper {
    position: inherit; /* Enable positioning for background image */
    padding: 200px; /* Add padding around content */
	color:white;
}
.content-wrapper h1{
    font-size:50px;
}
.background-image {
    width: 100%; /* Fill the entire width of the content area */
    height: -webkit-fill-available; /* Maintain image aspect ratio */
    position: absolute; /* Position the image behind the content */
    top: 0;
    left: 0;
    z-index: -1; /* Place the image behind other elements */
}

/* Hamburger menu icon */
.menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    position: relative;
    z-index: 1;
    margin-top: 10px;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: 0.3s;
}

.mobile-menu {
	display:none;
}





/* Media query for devices with a maximum width of 768px */
@media only screen and (max-width: 768px) {
    .container {
        margin: 0px 12px; /* Adjust margin for smaller screens */
    }

    header img {
        width: 85px; /* Adjust image size for smaller screens */
    }

    .navigation {
        display: none;
    }
	

    .menu-icon {
        display: flex;
    }

    .main-content {
        
    }

    .content-wrapper h1 {
        font-size: 40px; /* Adjust heading size for smaller screens */
    }
	
	.mobile-menu {
		flex-direction: column;
		align-items: center;
		background-color: #fff;
		position: absolute;
		top: 60px;
		height: calc(100% - 82px);
		padding-top: 50px;
		right: 0;
		width: 100%;
		z-index: 1;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		transform: translateY(8px);
		transition: transform .25s ease-in-out,opacity .25s ease-in-out;
		visibility: hidden;
		display:none;
	}
	/*.mobile-menu {
		background-color: #fff;
		bottom: 0;
		flex-direction: column;
		height: calc(100% - 82px);
		justify-content: space-between;
		left: 0;
		opacity: 0;
		overflow-y: auto;
		padding: 45px 10%;
		position: fixed;
		transform: translateY(8px);
		transition: transform .25s ease-in-out,opacity .25s ease-in-out;
		visibility: hidden;
		width: 100%;
	}*/
	.mobile-menu a {
		padding: 10px;
		text-decoration: none;
		color: #00176b;
		font-family: Inter,sans-serif;
	}
	.mobile-menu a:hover {
		background-color: #ddd;
	}
	.show {
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
		display:flex;
	}
}

/* Media query for devices with a maximum width of 576px */
@media only screen and (max-width: 576px) {
    .container {
        margin: 0px 6px; /* Adjust margin for smaller screens */
    }

    header img {
        width: 65px; /* Adjust image size for smaller screens */
    }

    input[type="text"] {
        width: 200px; /* Adjust input width for smaller screens */
		margin-bottom: 10px;
    }

    .content-wrapper {
        padding: 200px 80px; /* Adjust padding for smaller screens */
    }

    .content-wrapper h1 {
        font-size: 30px; /* Adjust heading size for smaller screens */
    }
	.navigation {
        display: none;
    }

    .menu-icon {
        display: flex;
    }
}




